.containerDiv {
  border: 1px solid #3697f6;
   display:table;
      height: 200px;
  width: 200px;
  margin: 0 auto;
  background-color: #b0c4de;
      
}
.rowDivHeader {
  border: 1px solid #668db6;
  background-color: #336799;
  color: white;
  font-weight: bold; display:table-row
}
.rowDiv {
  border: 1px solid #668db6;
  background-color: #cee6fe;
  display:table-row
}
.cellDivHeader {
  border-right: 1px solid white;
  display: table-cell;
  width:12%;
  padding: 1px;
  text-align: center; 
}
.cellDiv {
  border-right: 2px solid white;
  display: table-cell;
  width:10%;
  padding-right: 4px;
  text-align: center;
  border-bottom: none;
}

.lastCell {
  border-right: none;
}


.headerDiv {
  float:right;
	padding-top:20px;
        width:24%;
        color: #336699;
        font-weight: normal;
        font-size: 12px;
      
}

.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; } 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }



